* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box
}

:root {
    --color-unique: #e65757;
    --color-legendary: #e5bd51;
    --color-epic: #d2764f;
    --color-rare: #91a7d2;
    --color-common: #b8babd;
    --color-unavailable-item: #b596ef;
    --link-color: #fff;
    --card-shadow-color: #fff;
    --card-width: 200px;
    --card-height: calc(var(--card-width) * 1.37);
    --card-margin: 10px;
    --bg-color: #1d2a3b
}

@font-face {
    font-family: Open Sans;
    src: url(../media/OpenSans-Regular.4543090a.ttf) format("truetype")
}

body {
    background-color: var(--bg-color);
    font-size: 20px;
    color: #fff;
    font-family: Open Sans;
    background-attachment: fixed
}

header {
    text-align: center
}

nav {
    display: flex;
    justify-content: center
}

nav a {
    padding: 5px;
    font-size: 1.6rem;
    line-height: 1.6rem;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.nowrap,
nav a {
    white-space: nowrap
}

a {
    color: var(--link-color);
    font-feature-settings: "pcap", "c2pc";
    font-variant-caps: all-petite-caps;
    font-weight: 700
}

a,
nav a:hover {
    transition: all .1s ease-out
}

nav a:hover {
    background: hsla(0, 0%, 100%, .2)
}

.app {
    max-width: 1920px;
    min-width: 1240px;
    margin-left: auto;
    margin-right: auto
}

.app_temp {
    display: flex;
    flex-wrap: wrap;
    margin: 30px
}

.card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    margin: var(--card-margin);
    border-radius: 5%
}

.card,
.card:hover {
    transition: all 50ms ease-out
}

.card:hover {
    filter: brightness(1.1)
}

.card:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    position: absolute;
    background-image: linear-gradient(to bottom, transparent, var(--card-shadow-color) 98%);
    filter: blur(18px);
    border-radius: 5%
}

.card img {
    height: auto
}

.card--bg {
    width: 100%;
    z-index: 0
}

.card--outline {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 10
}

.card--icon {
    width: 42%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5
}

.card--fraction {
    width: 32%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 30
}

.card-right-top-icon {
    position: absolute;
    z-index: 30;
    height: auto;
    top: 6%;
    right: 8%;
    max-width: 18%
}

.card--icon-item {
    width: 128%;
    z-index: 5;
    top: 51%
}

.card--icon-move {
    width: 40%
}

.card--icon-move,
.card--icon-perk {
    border-radius: 100% !important;
    z-index: 30
}

.card--card-icon-container,
.card--right-top-icons-list {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: clip
}

.card--right-top-icons-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    left: -6%;
    top: 5%;
    z-index: 30;
    row-gap: 5px
}

.card--right-top-icons-list .card-right-top-icon {
    position: static
}

.unique {
    --card-shadow-color: var(--color-unique);
    color: var(--color-unique)
}

.legendary {
    --card-shadow-color: var(--color-legendary);
    color: var(--color-legendary)
}

.epic {
    --card-shadow-color: var(--color-epic);
    color: var(--color-epic)
}

.rare {
    --card-shadow-color: var(--color-rare);
    color: var(--color-rare)
}

.common {
    --card-shadow-color: var(--color-common);
    color: var(--color-common)
}

[data-card-item-unavailable=true] {
    --card-shadow-color: var(--color-unavailable-item);
    color: var(--color-unavailable-item)
}

.cards-list--section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px
}

.text-unique {
    color: var(--color-unique)
}

.text-legendary {
    color: var(--color-legendary)
}

.text-epic {
    color: var(--color-epic)
}

.text-rare {
    color: var(--color-rare)
}

.text-common {
    color: var(--color-common)
}

.text-unavailable-item {
    color: var(--color-unavailable-item)
}

a[data-active=true] {
    background: hsla(0, 0%, 100%, .2);
    text-decoration-thickness: 3px
}

[data-unavailable=true] {
    color: #646464
}

#header {
    margin-bottom: 10px
}

.page-eq-st-items-selector {
    --width: calc(var(--card-width) * 2 + var(--card-margin) * 4 + 20px);
    min-width: var(--width);
    max-width: var(--width);
    --height: calc(var(--card-height) * 3 + var(--card-margin) * 6 + 4px);
    max-height: var(--height);
    overflow-y: scroll;
    position: relative;
    border: 1px dashed #fff;
    scrollbar-gutter: stable
}

.page-eq-st-items-selector[data-active=false]:before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    position: absolute;
    background: transparent;
    z-index: 40
}

.page-eq-st-items-selector[data-active=false] {
    filter: opacity(.4);
    overflow: hidden
}

.page-eq-st-container>main {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 20px 50px
}

.grid-test1 {
    display: grid !important;
    grid-template-columns: repeat(3, auto);
    grid-template-areas: "a b c"
}

.grid-area-a {
    grid-area: a
}

.grid-area-b {
    grid-area: b
}

.grid-area-c {
    grid-area: c
}

.grid-area-d {
    grid-area: d
}

.page-eq-st-perks-and-eqipment,
.page-eq-st__info,
.page-eq-st__only-perks {
    padding: 0 30px;
    width: 100%;
    border: 1px dashed #fff;
    background: var(--bg-color)
}

.page-eq-st__only-perks {
    --width: calc(var(--card-margin) * 3 + var(--card-width) * 3 + 92px);
    min-width: var(--width);
    max-width: var(--width);
    --height: calc(var(--card-height) * 3 + var(--card-margin) * 6 + 4px);
    max-height: var(--height)
}

.page-eq-st-perks-and-eqipment[data-bg-transparent=true],
.page-eq-st-perks-and-eqipment[data-bg-transparent=true] .equipment-row,
.page-eq-st__only-perks[data-bg-transparent=true],
.page-eq-st__only-perks[data-bg-transparent=true] .cards-row {
    background: transparent !important;
    border-color: transparent
}

.page-eq-st__info {
    display: flex;
    flex-direction: column
}

.page-eq-st__only-perks>.cards-row {
    justify-content: center
}

button.card-placeholder {
    background: none;
    border: none;
    transform: scale(1);
    transition: all 50ms ease-out
}

button.card-placeholder:active {
    transform: scale(.9);
    transition: all 50ms ease-out
}

.cards-row {
    border-bottom: 1px solid var(--color-unique);
    display: flex
}

.cards-row:last-child {
    border-bottom: none
}

.super-kopy {
    -webkit-user-select: all;
    -moz-user-select: all;
    user-select: all
}

.huy {
    font-size: 24px;
    text-overflow: ellipsis
}

.kode-manipulation {
    margin-bottom: 10px;
    flex-wrap: wrap
}

.huy,
.huy *,
.kode-manipulation {
    display: flex;
    justify-content: center;
    gap: 10px
}

.huy,
.huy * {
    height: 32px;
    align-items: center
}

.huy input {
    width: min-content;
    font-size: 100%;
    border: 1px solid #fff;
    caret-color: #fff;
    caret-color: var(--color-legendary)
}

.huy button,
.huy input {
    background: transparent;
    color: #fff
}

.huy button {
    padding: 0 10px;
    font-size: 20px;
    border-image: url(../media/button1.4c3f810d.webp);
    border-image-slice: 10 10 10 10 fill;
    border-width: 10px;
    transform: scale(1);
    transition: all 20ms ease-out;
    line-height: 20px
}

.huy button:hover {
    filter: brightness(1.4)
}

.huy button:active {
    transform: scale(.9)
}

.header-row {
    display: flex;
    gap: 30px;
    flex-direction: row
}

canvas {
    margin-top: 100px;
    background: transparent
}

h3,
h4,
h5 {
    text-align: center
}

h5 {
    color: #ddd
}

.page-about {
    margin: 0 auto;
    max-width: 560px
}

.page-about a {
    margin-left: 10px;
    font-feature-settings: normal;
    font-variant-caps: normal;
    font-weight: 400
}

.page-about ul {
    margin-left: 30px;
    font-size: 18px
}

hr {
    color: var(--color-unique);
    border: 1px solid var(--color-unique);
    width: calc(100% - 30px);
    margin: 20px auto 10px
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

#chekbox-isbgtransparent {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 2px solid #fff
}

#chekbox-isbgtransparent:checked {
    background: var(--color-legendary)
}

#modal {
    z-index: 999;
    position: absolute;
    left: 0;
    top: 0;
    width: max(100%,1240px);
    min-width: 500px;
    height: 100vh;
    background: hsla(0, 0%, 100%, .4)
}

#modal[data-isnone=true] {
    display: none
}

#modal>div {
    top: 20%;
    transform: translate(-50%, -20%);
    width: 600px;
    height: min-content;
    background: #282828;
    padding: 20px;
    font-size: 40px
}

#modal>div,
.modal-x {
    position: relative;
    left: 50%
}

.modal-x {
    height: 60px;
    width: 200px;
    padding: 0 10px;
    font-size: 30px;
    line-height: 20px;
    color: #fff;
    border-image: url(../media/button1.4c3f810d.webp);
    border-image-slice: 10 10 10 10 fill;
    border-width: 10px;
    background: transparent;
    transform: scale(1);
    transition: all 20ms ease-out;
    transform: translate(-50%);
    margin-top: 30px
}

.equipment-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--color-unique);
    padding-bottom: 10px
}

.equipment-row:last-child {
    border: none
}

.equipment-row__perks-list,
.equipment-row__sub-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center
}

.equipment-row__perks-list__perk,
.equipment-row__perks-list__special-move {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid hsla(0, 0%, 100%, .6);
    background: transparent;
    transform: scale(1)
}

.equipment-row__perks-list__perk:hover {
    border: 2px solid #fff
}

.equipment-row__perks-list__perk:active,
.equipment-row__perks-list__special-move:active {
    transform: scale(.9)
}

.equipment-row__perks-list__special-move {
    width: 70px;
    height: 70px;
    border-radius: 0;
    border: none;
    position: relative;
    background-image: url(../media/hexagon_empty_alpha.f6c30af3.webp);
    background-size: 106%;
    background-position: 50%;
    opacity: .6
}

.equipment-row__perks-list__special-move:hover {
    opacity: 1
}

.equipment-row__perks-list__divider {
    height: 50px;
    width: 2px;
    border: 1px solid hsla(0, 0%, 100%, .5)
}

.page-eq-st-perks-and-eqipment {
    display: grid;
    grid-template-areas: "a a""b c""d d";
    grid-row-gap: 10px;
    row-gap: 10px;
    grid-column-gap: 20px;
    column-gap: 20px
}

.equipment-row__perks-list__perk {
    --perk-color: transparent
}

.equipment-row__perks-list__perk[data-perk-rarity=legendary] {
    --perk-color: var(--color-legendary)
}

.equipment-row__perks-list__perk[data-perk-rarity=epic] {
    --perk-color: var(--color-epic)
}

.equipment-row__perks-list__perk[data-perk-rarity=rare] {
    --perk-color: var(--color-rare)
}

.equipment-row__perks-list__perk {
    background: var(--perk-color);
    position: relative
}

.equipment-row__perks-list__perk:has(.equipment-row__perk-icon) {
    border: none
}

.equipment-row__move-icon,
.equipment-row__perk-icon {
    width: 100%;
    height: auto;
    border-radius: 100%
}

.equipment-row__perk-icon:hover {
    box-shadow: 0 0 10px var(--card-shadow-color)
}

.equipment-row__perks-list__special-move:has(.equipment-row__move-icon) {
    background-image: url(../media/hexagon_empty_common.8b4904bd.webp);
    opacity: 1
}

.equipment-row__move-icon {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px
}

.equipment-row__perks-list__special-move:has(.equipment-row__move-icon):hover:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../media/hexagon_empty_common.8b4904bd.webp);
    background-size: 106%;
    background-position: 50%;
    filter: blur(5px)
}

@media (max-width:1700px) {
    .grid-test1 {
        grid-template-areas: "a b""c c"
    }

    .page-eq-st__info {
        max-width: 100%;
        max-height: max-content;
        padding: 20px
    }
}

@media (max-width:800px) {

    .huy,
    .huy button,
    body,
    nav a {
        font-size: 3rem;
        line-height: 3rem
    }

    .huy,
    .huy * {
        height: auto
    }

    .kode-manipulation {
        flex-direction: column
    }

    .huy input {
        height: 50px;
        max-width: 260px
    }

    #chekbox-isbgtransparent {
        width: 50px;
        height: 50px
    }

    .page-eq-st__info {
        font-size: 2.6rem
    }

    .page-about {
        max-width: 96%;
        font-size: 2rem
    }

    .page-about ul {
        text-align: left;
        font-size: 2rem
    }
}